*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0; 
}

label {
  font-size: 20px;
}

html, 
body{
  height: 100%;
  width: 100%;
}

body {
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Override body centering for landing page */
body:has(.landing-page) {
  display: block;
  align-items: unset;
  justify-content: unset;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
 width:100%;
  max-width: 400px;
  padding: 32px  48px;
}

.container > h1 {
  margin-bottom: 20px;
}

.conatiner > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div {
  dsiplay:flex;
  flex-direction: column;
  
}

.container input {
  width:100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.container input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: rgb(114, 118, 231);
  width: 100%;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}